<div>
	<p style="padding-top: 15px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; color: rgb(146, 146, 146)">
		Atenciosamente,
	</p>
	<div style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 5px; padding-right: 0px; padding-bottom: 15px;  padding-left: 0px; min-height: 100px">
		<img src="http://arquivos.mcptecnologia.com/logo_aggora.gif"
			alt="Ággora" title="Ággora"
			style="float: left; margin-top: 0px; margin-right: 25px; margin-bottom: 0px; margin-left: 0px">
		<div style="float: left; width: 370px; margin-top: 7px">
			<p style="font: italic normal bold 14px/ normal Arial, Helvetica, sans-serif; color: rgb(21, 82, 136); margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px">
				Thiago Garbazza
			</p>
			<p style="font: italic normal normal 11px/ normal Arial, Helvetica, sans-serif; color: rgb(37, 112, 171); margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px">
				Líder de Time
			</p>
			<p style="margin-top: 0px; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; font: normal normal normal 12px/ normal Arial, Helvetica, sans-serif">
				<a href="mailto:thiago.garbazza@aggoraegov.com.br"
					style="color: rgb(134, 154, 0); font: normal normal normal 12px/ normal Arial, Helvetica, sans-serif"
					target="_blank">thiago.garbazza@aggoraegov.com.br</a>
			</p>
			<p style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; font: normal normal normal 12px/ normal Arial, Helvetica, sans-serif">
				<font color="#3366ff"> <a value="+5503125550300" href="tel:31%25550300" >31 2555-0300</a></font>
			</p>
			<p style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; font: normal normal normal 12px/ normal Arial, Helvetica, sans-serif">
				<font color="#3366ff"> <a value="+5503135822026" href="tel:31%209198-9706" >31 3582-2026</a></font>
			</p>
			<p style="margin-top: 0px; margin-right: 0px; margin-bottom: 5px; margin-left: 0px; font: normal normal normal 12px/ normal Arial, Helvetica, sans-serif">
				<a href="http://www.aggoraegov.com.br/"
					style="color: rgb(134, 154, 0); text-decoration: none; font: normal normal normal 12px/ normal Arial, Helvetica, sans-serif"
					target="_blank">www.aggoraegov.com.br</a>
			</p>
		</div>
	</div>
	<p style="font: normal normal normal 10px/ normal Arial, Helvetica, sans-serif; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; color: rgb(146, 146, 146)">
		<b>ANTES DE IMPRIMIR</b>&nbsp;este&nbsp;
		<i>e-mail</i>&nbsp;pense em sua responsabilidade e compromisso como &nbsp;
		<b>MEIO AMBIENTE</b>
	</p>
</div>
