<div style="padding:30px 0 0 25px; margin:0; font:normal 12px Arial, Helvetica, sans-serif; color:#454545;">
    <p>Atenciosamente,</p>
    <div id="rodape" style="background-color:#e3e3e3; margin:0 0 0 -25px;">
        <div id="assinatura" style="background-color:#FFFFFF; height:auto; margin-left:15px; width:370px; overflow:hidden; padding:3px 13px;"> 
            <img src="http://arquivos.mcptecnologia.com/logo_mcp.gif" alt="MCP Tecnologia" style="float:left; margin:0 20px 0 0;" />
            <p style="font:bold italic 14px Arial, Helvetica, sans-serif; color:#bb2020; margin:0;">Thiago Garbazza</p>
            <p style="font:italic 11px Arial, Helvetica, sans-serif; color:#929292; margin:0">Desenvolvedor WEB</p>
            <p style="margin:0 0 10px 0; font:normal 12px Arial, Helvetica, sans-serif;"> 
            	<a href="mailto:thiago@mcptecnologia.com" target="_blank" style="color:#454545; font:normal 12px Arial, Helvetica, sans-serif;">thiago@mcptecnologia.com</a>
            </p>
            <p style="margin:0; font:normal 12px Arial, Helvetica, sans-serif; color:#454545;">(31) 2555-0300</p>
            <p style="margin:0 0 5px 0; font:normal 12px Arial, Helvetica, sans-serif;">
            	<a href="http://www.mcptecnologia.com" target="_blank" style="color:#929292; text-decoration:none; font:normal 12px Arial, Helvetica, sans-serif;">www.mcptecnologia.com</a>
            </p>
            <a href="http://twitter.com/mcptecnologia" alt="Siga-nos no Twitter" title="Siga-nos no Twitter" target="_blank" style="text-decoration:none; border:0;">
            	<img src="http://arquivos.mcptecnologia.com/ico_twitter.gif" alt="Siga-nos no Twitter" style="float:left; margin:0 10px 0 0; border:0;" />
            </a>
            <a href="http://www.facebook.com/pages/MCP-TECNOLOGIA/211177917981" alt="Encontre-nos no Facebook" title="Encontre-nos no Facebook" target="_blank" style="text-decoration:none; border:0;">
            	<img src="http://arquivos.mcptecnologia.com/ico_facebook.gif" alt="Encontre-nos no Facebook" style="margin:0 10px 0 0; border:0;" />
          	</a>
          </div>
    </div>
    <p style="font:09px Arial, Helvetica, sans-serif; margin:10px 0 0 0; color:#929292;">
        <b>ANTES DE IMPRIMIR</b> este <i>e-mail</i> pense em sua responsabilidade e compromisso com o <b>MEIO AMBIENTE</b>
    </p>          
</div>
