<div style="padding:30px 0 0 0!important;margin:0!important;font:normal 12px Arial,Helvetica,sans-serif!important;color:#454545! important;width:100%!important">
	<span style="margin:10px 0 20px 0!important">Atenciosamente,</span><br><br>
	<div style="background-color:#cc3438!important;min-height:110px!important;min-width:300px;width:100%!important">
		<div style="background-color:#ffffff!important;min-height:auto!important;margin-left:15px!important;width:455px!important;overflow:hidden!important;padding:3px 13px!important;float:left!important"> 
			<div style="float:left!important;width:190px!important;min-height:103px!important;border-right:#ccc solid 1px!important;margin:0 0 0 0!important">
				<img src="http://arquivos.mcptecnologia.com/logo_opa.png" alt="OPA! Tecnologia" style="float:left!important;margin:0!important;padding:0 10px 0 0!important">
		    </div>
		    <span style="font:bold italic 14px Arial,Helvetica,sans-serif!important;color:#bb2020!important;margin:0!important;padding:0 0 0 20px">Thiago Garbazza</span><br>
		    <span style="font:italic 11px Arial,Helvetica,sans-serif!important;color:#929292!important;margin:0!important;padding:0 0 0 20px">Líder de Time</span><br>
		    <span style="margin:0!important;padding:0 0 0 20px;font:normal 12px Arial,Helvetica,sans-serif!important"> 
		        <a href="mailto:thiago@mcptecnologia.com" style="color:#cc3438!important;font:normal 12px Arial,Helvetica,sans-serif!important" target="_blank">thiago@mcptecnologia.com</a>
		    </span><br><br>
		    <span style="margin:10px 0 0 0!important;text-decoration:none;padding:0 0 0 20px;font:normal 12px Arial,Helvetica,sans-serif!important;color:#454545!important">
		    	<a href="tel:31%202555-0300" value="+553125550300" target="_blank">31 2555-0300</a> | <a href="tel:31%203582-2026" value="+553135822026" target="_blank">31 3582-2026</a>
		    </span><br>
		     <span style="margin:0 0 5px 0!important;padding:0 0 0 20px;font:normal 12px Arial,Helvetica,sans-serif!important">
		        <a href="http://www.opatecnologia.com.br" style="color:#cc3438;text-decoration:none;font:normal 12px Arial,Helvetica,sans-serif!important" target="_blank">www.opatecnologia.com.br</a>
		    </span><br>
		    <a href="https://twitter.com/OpaTecnologia" alt="Siga-nos no Twitter" title="Siga-nos no Twitter" style="text-decoration:none!important;border:0!important" target="_blank">
		        <img src="http://arquivos.mcptecnologia.com/Twitter1616.png" width="16" height="16" alt="Siga-nos no Twitter" style="float:left!important;margin:0 8px 0 0!important;padding:0 5px 0 20px;border:0!important">
		    </a>
		    <a href="https://www.facebook.com/OpaTecnologia" alt="Encontre-nos no Facebook" title="Encontre-nos no Facebook" style="text-decoration:none!important;border:0!important" target="_blank">
		        <img src="http://arquivos.mcptecnologia.com/facebook1616.png" alt="Encontre-nos no Facebook" style="margin:0 5px 0 5px!important;border:0!important">
			</a>
		</div>
		<div style="float:right!important">
			<img src="http://arquivos.mcptecnologia.com/assinaturaIconeLogo.png" width="55" height="109" style="margin:0 10px 0 0!important">
		</div>
	</div>
	<span style="font:09px Arial,Helvetica,sans-serif!important;margin:10px 0 0 0!important;color:#929292!important;clear:both;float:left">
		<b>ANTES DE IMPRIMIR</b> este <i>e-mail</i> pense em sua responsabilidade e compromisso com o <b>MEIO AMBIENTE</b>
	</span>
</div>
